.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
    border-radius: 0;

}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;

}